
@import 'metrics';
@import 'colors';

$row-height: 36px;

$progress-bar-height: 8px;
$progress-bar-gap: 1px;

.files {
  @include column();

  border-spacing: 0;
  border-collapse: collapse;

  table-layout: fixed;

  margin-top: $spacing * 2;

  tr {

    border: 0 solid $border-color;
    border-width: $border-width 0;

    &[data-status=error] {
      background-color: $error-bg;
      color: $error-fg;

      .size {
        color: rgba($error-fg, 0.6);
      }
      
    }

    &[data-status=waiting] {
      color: rgba($fg, 0.2);

      .size {
        color: rgba($fg, 0.1);
      }
      
    }

    &[data-status=uploading] {

      .name {
        color: rgba($fg, 0.4);
      }

    }

    td {
      height: $row-height;
      line-height: $row-height;

      white-space: nowrap;
      overflow: hidden;
      
      margin: 0 $hpadding;

      text-align: left;

      &.name {
        font-weight: bold;
        padding-left: $hpadding;
      }
      
      &.size {
        width: 6em;
      }

      &.message {
        width: 20vw;
        max-width: 20em;
        
        padding-right: $hpadding;

        position: relative;

        .progress {
          pointer-events: none;

          transition: opacity 0.1s ease;
          
          position: absolute;
          top: ($row-height - $progress-bar-height) / 2;
          left: 0;

          height: $progress-bar-height;
          width: 100%;
          
          padding-right: $hpadding;

          &.hidden {
            opacity: 0;
          }

          .trough {
            
            background-color: $bar-bg;
            border-radius: $progress-bar-height;
            
            width: 100%;
            height: 100%;
            
            padding: $progress-bar-gap;

            .bar {
              transition: width 0.2s ease;
              
              background-color: $bar-fg;
              border-radius: $progress-bar-height;
              height: $progress-bar-height - $progress-bar-gap * 2;
              min-width: ($progress-bar-height - $progress-bar-gap * 2);

            }

          }
          
        }

      }

    }
    
  }
  
}
