
@import 'metrics';
@import 'colors';

footer {
  background-color: $bg;
  
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  padding: $vpadding 0;
  
  color: $fg-secondary;
  font-size: 9px;

  text-align: center;

  span {
    display: block;
    padding: 4px $hpadding;
  }
  
}
