
$grid: 8px;

$margin: $grid * 2;
$unit: $grid * 6;

$hpadding: $grid * 3;
$vpadding: $grid;

$spacing: $grid * 2;

$border-width: 1px;

@mixin column() {
  width: 100%;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}
