
@import 'metrics';
@import 'colors';

#upload {
  text-align: center;

  margin: $spacing $margin;

  padding: $spacing;

  @include column();

  .file-upload-button, button.submit {
    background: lighten($bg, 5);
    
    vertical-align: top;
    
    padding: 0 $hpadding;
    padding-bottom: 20px !important;

    display: inline-block;
    
    height: $unit;
    line-height: $unit;
    
  }

  .file-upload-button {

    width: 25em;
    
    position: relative;

    &:hover {
      cursor: pointer;
      background: lighten($bg, 10);
    }
    
    &.disabled {
      opacity: 0.5;

      pointer-events: none;
    }
    
    #file-upload {
      position: absolute;
      top: 0;
      left: 0;
      
      width: 100%;
      height: 100%;
      
      opacity: 0;
      user-select: none;
      
      &:hover {
        cursor: pointer;
      }
      
    }

  }

  button.submit {
    margin-left: $grid;

    &.disabled {
      opacity: 0.5;

      pointer-events: none;
    }
    
    &:hover {
      cursor: pointer;
      background: lighten($bg, 10);
    }
    
  }

  #user {
    width: 25em !important;
    
    padding-bottom: 0 !important;
    margin-top: $spacing;

    text-align: center;
    font-weight: bold;
  }

}

.max-size {
  padding: $vpadding 0;

  color: $fg-secondary;

  @include column();

  text-align: center;

  font-style: italic;
}

body.no-js {

  #upload {

    .file-upload-button {
      padding: 0 !important;
      position: relative;

      height: $unit;

      #file-upload {
        
        padding: 10px $hpadding !important;

        position: relative !important;
        top: -2px;

        display: inline-block;

        opacity: 1 !important;

      }
      
    }

  }
  
  .needs-js {
    display: none;
  }
  
}


@media only screen and (max-device-width: 480px) {

  .file-upload-button, button.submit {
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    display: block;
  }

  button.submit {
    margin-top: $grid;
  }

}
